body{
    font-family: 'Inika', serif;
    font-weight: 700;
}

a { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #FFFFFF;
}

.h1{
    margin: 72px 0;
    font-size: 40px;
}

.h2{
    padding-top: 76px;
    font-size: 40px;
    text-align: center;
}

.line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
}

.center_line{
    margin: 0 auto;
}

.header{
    font-family: 'M PLUS 1', sans-serif;
    min-height: 50px;
    max-height: 110px;
    text-align: center;
    color: #E8C23E;
    font-size: 48px;
    font-weight: 400;
    padding-top: 25px;
}

.header-span{
    color: #3E45E8;
}

.banner{
    box-sizing: border-box;
    height: 803px;
    background-image: url("../img/image 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 206px;
    padding-left: 80px;
}

.content{
    box-sizing: border-box;
    color: white;
    width: 70%;
    font-size: 48px;
    padding-left: 38px;
    background-repeat: no-repeat;
    height: 272px;
    background-image: url("../img/flag.png");
}

.main{
    padding: 0 80px;
}

.card{
    width: 30%;
    color: #030303;
    display: inline-block;
    vertical-align:top;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 50%);
}

.ukraine{
    padding-top: 62px;
    height: 537px;
    display: inline-block;
    margin: 0 20%;
}

.card__image{
    width: 100%;
}
.card_margin{
    margin: 0 4.5%;
}
.card__title{
    font-size: 24px;
    padding: 10px;
    color: #1E8DF2;
    box-sizing: border-box;
}
.card__subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}

.bottom {
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 64px;
    color: #FFFFFF;
    text-decoration: none;
}
.futer {
    height: 320px;
    background-color: #2F4A4B;
    box-sizing: border-box;
    margin-top: 21px;
}
.futer_strong{
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
    color: #E8C23E;
    font-size: 48px;
    font-weight: 400;
}
.futer_contact {
    font-family: 'Marcellus SC', serif;
    display: block;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #A89D9D;
    padding-top: 21px;
    text-transform:lowercase;
}
.futer_soc {
    text-align: center;
    padding-top: 21px;
}