body{
    font-family: 'Rosario', sans-serif;
}

body, ul{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10;
    
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #000000;
    height: 5.5rem;    
}


.header__logo img{
    height: 5.5rem;
    
}

.header__nav{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    
}

li.header__nav_item > a{
    text-transform: capitalize;
    text-decoration: none; 
    color: #FFFCFC;
    padding: 2rem 2rem;
}

li.header__nav_item > a:hover{
    background-color: #a3540a9f;
        
}

/* -----------------------------------------*/

.gallery{
    display: flex;    
    margin: 1rem 0;
}


.gallery__lefеblock{
    width: 50%;
    display: flex;
    align-items: center;
}

.gallery__lefеblock_item2 img{
    width: 90%;
    margin: .5rem;
}

.gallery__lefеblock_item2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    animation: ani-left-pair .7s linear;
    transform: translateX(0rem);
    position: relative;
}

@keyframes ani-left-pair{
    from{
        transform: translateX(-45rem); 
    }
    to{
        transform: translateX(0rem);
    }
}

.gallery__lefеblock_item1 img{
    width: 75%;
}

.gallery__lefеblock_item1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    animation: ani-left-one 1s linear;
    transform: translateX(0rem);
}

@keyframes ani-left-one{
    0% {
        transform: translateX(-30rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

/* ----------------*/

.gallery__rightblock{
    width: 50%;
    display: flex;
    align-items: center;
}

.gallery__rightblock_item1 img{
    width: 90%;
    margin: .5rem;
}

.gallery__rightblock_item1{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    animation: ani-right-pair .7s linear;
    transform: translateX(0rem);
}

@keyframes ani-right-pair{
    0% {
        transform: translateX(45rem); 
    }
    100% {
        transform: translateX(0rem);
    }
}

.gallery__rightblock_item2 img{
    width: 75%;
}

.gallery__rightblock_item2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    animation: ani-right-one 1s linear;
    transform: translateX(0rem);
}

@keyframes ani-right-one{
    0% {
        transform: translateX(30rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

/* -----------------------------------------*/

.services{
    display: flex;
    margin: 2rem 0;
}


.services__carousel img{
    width: 100%;
}

.services__carousel{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__carousel_сolumn1, .services__carousel_сolumn2{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

div[class ^="carousel"]{
    width: 60%;
}

p{
    font-weight: 700;
    font-style: italic;
    font-size: 1.7rem;
    margin-top: .2rem;
}

.carousel_service1{
    animation: step1 10s infinite ease-in-out;
    position: relative;
}

@keyframes step1 {
    0%,100%{
        top: 0;
        left: 0;
    }
    12.5%{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 24.1rem;
    }
    37.5%{
        top: 0;
        left: 24.1rem;
    }
    50%{
        top: 18.85rem;
        left: 24.1rem;
    }
    62.5%{
        top: 18.85rem;
        left: 24.1rem;
    }
    75%{
        top: 18.85rem;
        left: 0;
    }
    87.5%{
        top: 18.85rem;
        left: 0;
    }
    /*
    100%{
        top: 0;
        left: 0;
    }
    */
}

.carousel_service2{
    animation: step2 10s infinite ease-in-out;
    position: relative;
}

@keyframes step2 {
    0%,100%{
        bottom: 0;
        left: 0;
    }
    12.5%{
        bottom: 0;
        left: 0;
    }
    25%{
        bottom: 18.85rem;
        left: 0;
    }
    37.5%{
        bottom: 18.85rem;
        left: 0;
    }
    50%{
        bottom: 18.85rem;
        left: 24.1rem;
    }
    62.5%{
        bottom: 18.85rem;
        left: 24.1rem;
    }
    75%{
        bottom: 0;
        left: 24.1rem;
    }
    87.5%{
        bottom: 0;
        left: 24.1rem;
    }
    /*
    100%{
        bottom: 0;
        left: 0;
    }
    */
}

.carousel_service3{
    animation: step3 10s infinite ease-in-out;
    position: relative;
}

@keyframes step3 {
    0%,100%{
        top: 0;
        right: 0;
    }
    
    12.5%{
        top: 0;
        right: 0;
    }
    
    25%{
        top: 18.85rem;
        right: 0;
    }
    37.5%{
        top: 18.85rem;
        right: 0;
    }
    50%{
        top: 18.85rem;
        right: 24.1rem;
    }
    62.5%{
        top: 18.85rem;
        right: 24.1rem;
    }
    75%{
        top: 0;
        right: 24.1rem;
    }
    87.5%{
        top: 0;
        right: 24.1rem;
    }
    /*
    100%{
        top: 0;
        right: 0;
    }
    */
}

.carousel_service4{
    animation: step4 10s infinite ease-in-out;
    position: relative;
}

@keyframes step4 {
    0%,100%{
        bottom: 0;
        right: 0;
    }
    
    12.5%{
        bottom: 0;
        right: 0;
    }
    
    25%{
        bottom: 0;
        right: 24.15rem;
    }
    37.5%{
        bottom: 0;
        right: 24.15rem;
    }
    50%{
        bottom: 18.85rem;
        right: 24.1rem;
    }
    62.5%{
        bottom: 18.85rem;
        right: 24.1rem;
    }
    75%{
        bottom: 18.85rem;
        right: 0;
    }
    87.5%{
        bottom: 18.85rem;
        right: 0;
    }
    /*
    100%{
        bottom: 0;
        right: 0;
    }
    */
}


.services__rightblock{
    width: 50%;
    animation: fadeIn 1s both;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }

.services__rightblock:hover{
        animation: fadeIn_h 1s both;
    }

@keyframes fadeIn_h {
        0% {opacity: 0.5;}
        100% {opacity: 1;}
}
    

.services__rightblock img{
    width: 100%;
    box-sizing: border-box;
}

h1{
    font-weight: 700;
    font-size: 3.3rem;
}

h2{
    font-weight: 700;
    font-size: 2.4rem;
}

h3{
    font-weight: 700;
    font-size: 1.5rem;
}
/* -------------------------------- */

.team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
}

.team__cards img{
    width: 100%;
    z-index: 4;
    border-radius: 1.8rem;
}

.team__cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team__cards_person{ 
    width: 20%;
    box-sizing: border-box;
    border-radius: 1rem;
    position: relative;
}

.team__cards_person-name{
    color: #FFFAFA;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 1.7rem;
    background-color: #a3540a9f;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0.25rem;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s linear;
}

.team__cards_person:hover .team__cards_person-name{
    opacity: 1;
    transform: translateY(0);
    
}

/* -------------------------------- */

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 5rem 3rem 0rem 3rem;
}

.contact__form{
    width: 55%;
    text-align: center;
}

form > div{
    display: flex;
    justify-content: space-between;
}

#name, #email{
    width: 45%;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

textarea{
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E5E5;
}
.map{
    width: 35%;
    height: 27.5rem;
}

/* -------------------------------- */

.footer{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 2rem 3rem 4rem 3rem ;
    font-style: italic;
    font-weight: 600;
    line-height: 2rem;
}

.footer__information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p{
    font-weight: 700;
    font-style: italic;
    font-size: 1.3rem;
    margin: 0;
}
.footer span{
    font-weight: 700;
    font-style: normal;
}

.footer__information a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.footer__information_socialNetwork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

/* Выравнивание иконок и текста */

.footer__information_socialNetwork-block img{
    height: 1.2rem;
    margin: 0 auto;
    vertical-align: middle;
}

.footer__information_socialNetwork-block p{
    font-size: 1rem;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;

}
