.flag_background{
    margin-left: 100px;
    margin-top: 100px;
    display: inline-block;
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    vertical-align:top;
    box-sizing: border-box;
    position: relative;
}

.dia_background{
    margin-left: 100px;
    margin-top: 100px;
    display: inline-block;
    width: 512px;
    height: 512px;
    background-color: #000000;
    vertical-align:top;
    box-sizing: border-box;
    position: relative;
}

.flag_line{
    display: inline-block;
    width: 512px;
    height: 50%;
    background-color: #2137FC;
    vertical-align:top;
    box-sizing: border-box;
}

.flag__image{
    position: absolute;
    margin: auto;
    left: 0;
    top: 5px;
    bottom: 0;
    right: 0;
}

.border_top{
    border-radius: 240px 240px 0 0;
}
.border{
    border-radius: 240px 240px 240px 240px;
}

.dia__image1{
    position: absolute;
    margin: auto;
    left: 0;
    top: 343px;
    bottom: 0;
    right: 0;
}

.dia__image2{
    padding-top: 23px;
    padding-left: 21px;
}
.dia__image3{
    padding-top: 23px;
    padding-left: 300px;
}