body{
    font-family: 'Work Sans', sans-serif;
}

.wrapper{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

section{
    box-sizing: border-box;
}

.main{
    display: grid;
    width: 755px;
    height: 459px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    background-color: #FFB084;
    border-radius: 20px;
    gap: 1.5rem;
    padding: 2rem;
    box-sizing: border-box;

}

h1{
    font-weight: 700px;  
    font-size: 1.5rem;
    
}

h2{
    font-weight: 700px;  
    font-size: 0.8rem;
    margin: 0;
}

.main > div{
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    box-shadow: 7px 7px 0px 0px #000000; 
    color: #000000;
    width: 100%; 
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 400px;
}

.main__name{
    grid-column: 1/4;
    grid-row: 1/7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__name_avatar{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main__name_text span{
    font-weight: bold;
}

.main__bio{
    grid-column: 4/8;
    grid-row: 1/3;
}


.main__goals{
    grid-column: 4/6;
    grid-row: 3/5;
    align-content: center;
    box-sizing: border-box;
    

}


.main__goals h2{
    color: #29A71E;
}

.main .main__goals{
    box-shadow: 7px 7px 0px 0px #29A71E;
}

.main__frustrations{
    grid-column: 6/8;
    grid-row: 3/6;
    align-content: center;
    box-sizing: border-box;
    
}

.main__frustrations h2{
    color: #E13535;
}

.main .main__frustrations{
    box-shadow: 7px 7px 0px 0px #E13535;
}

.main__dream{
    grid-column: 4/6;
    grid-row: 5/8;
    align-content: center;
    box-sizing: border-box;
}

.main__dream > h2{
    color:#3675B0;
}

.main .main__dream{
    box-shadow: 7px 7px 0px 0px #3675B0;
}


.main__personality {
    grid-column: 6/8;
    grid-row: 6/8;
}

.main__personality > h2{
    margin-bottom: 1rem;
}

.main__personality p{
margin: 0;
}

.main__quote{
    grid-column: 1/4;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
