body, ul {
    background-color: #212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    
}

.menu {
    list-style: none; /*убираем маркеры списка*/
    display: flex;
}

.menu2 {
    list-style: none; /*убираем маркеры списка*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1C1C1C;
}

li.menu_item > a, li.menu_item2 > a, .btm_hm, .btm_banner > a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-transform: capitalize; /* Первая аглавная буква */
    color: #FFFFFF;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
    cursor: url('/lesson 5/img/pngwing1.svg'), auto;
}

.btm_banner > a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-transform: capitalize; /* Первая аглавная буква */
    color: #FFFFFF;
    padding: 1%;
    box-sizing: border-box;
    transition: all .4s;
    cursor: url('/lesson 5/img/pngwing1.svg'), auto;
}

.btm_hm {
    color: #212529;
    background-color: #FFB742;
    text-align: center;
    padding: 0.5em 1.5em;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50px;
}

.btm_gr {
    display: inline;
    align-items: center;
    border-radius: 15px;
    color: #FFB742;
    background-color: #292B2E;
    padding: 0.5em 1.5em;
    text-transform: uppercase; /* Первая аглавная буква */
}

li.menu_item > a:hover {
    color: #FFB742;
    
}

li.menu_item2 > a:hover {
    color: #000000;
    background-color: #FFB742;
}

.first_about {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    text-transform: capitalize; /* Первая аглавная буква */
}

h1 span {
    font-size: 2rem;
    font-weight: 700;
    color: #FFB742;
    text-decoration: underline;
    cursor: url('/lesson 5/img/pngwing1.svg'), auto;
}

.fb1 {
    font-size: 3rem;
}

.fb2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.logo {
    cursor: url('/lesson 5/img/pngwing1.svg'), auto;
}

.btm_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 40px ; 
    cursor: url('/lesson 5/img/pngwing1.svg'), auto;   
}

.bnr {
    padding: 0;
    margin: 0;
}

.block_a {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #292B2E;
    padding: 1%;
    width: 30%;
}

.bnr_fb1 {
    font-size: 2rem;
    color: #FFB742;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.bnr_fb2 {
    font-size: 1rem;
    font-weight: 400;
    color: #FFffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.block_a:hover {
    background-color: #FFB742;
}

.block_a:hover .bnr_fb1 {
    color: #000000;
    
}

.block_a:hover .bnr_fb2 {
    color: #000000;
    
}


.about {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.about_txt {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    
    box-sizing: border-box;
}

.my_works {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 1%;
}

.works_txt {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    box-sizing: border-box;
}

.works_gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #292B2E;
    padding: 0.5% 1%;
    width: 90%;
}

.fut {
    font-family: 'Work Sans', sans-serif;
    font-family: 500;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1C1C1C;
    padding: 4rem 2rem;
    
}

.ftr_txt {
    display: flex;
    flex-direction: column;
    justify-content: left; 
    box-sizing: border-box;
    
}

.ftr-fb1 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #FFB742;
    font-weight: 700;
    margin: 1rem;
}

.ftr-fb2 {
    font-size: 1rem;
    font-weight: 600;
}

.ftr_mn1 {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    box-sizing: border-box;
    padding: 2rem;
}

.mn1-fb1 {
    font-size: 1.5rem;
    font-weight: 700;
    
}

li.menu_item3 > a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-transform: capitalize; /* Первая аглавная буква */
    color: #7B7B7B;
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    box-sizing: border-box;
    transition: all .4s;
    cursor: url('/lesson 5/img/pngwing1.svg'), auto;
    
}


li.menu_item3 > a:active {
    color: #FFB742;;
    
}