body{
    font-family: 'Public Sans', sans-serif;
    background-color: #E5E5E5;
}

.page_mf{
    max-width: 62.5rem;  /*1000px по отношению к 16px */
    min-width: 43.75rem; /*700px по отношению к 16px */
    margin: 0 auto;
    background-color: #F9F9F9;
}

h1{
    margin-left: 2.68rem;
    padding-top: 4rem;
    padding-bottom: 3.4rem;
    font-size: 1.5rem;
    font-weight: 43.75rem;
}

h2{
    margin-left: 2.68rem; 
    font-size: 1.25rem;
    font-weight: 43.75rem;
}

p {
    margin-left: 2.68rem;
    font-size: 0.8rem;
    font-weight: 25rem;
}

.footnote{
    color: red
}

.block{
    display: flex;
    margin: 0;
}

.input_fields_flex{
    margin: 2.68rem;
    display: flex;
}

.input_fields{
    margin: 2.68rem;
    
}

#Purged{
    margin: 7rem 0;
}

.input_fields_flex label{
    max-width: 24.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.input_fields label{
    display: block;
    max-width: 24.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.input_fields select{
    width: 24.9rem;
    min-width: 12rem; 
    height: 2.8rem;
    font-size: 1rem;
    font-weight: 25rem;
    border-radius: 0.25rem;
    
}

.input_fields input{
    width: 24.5rem;
    height: 2.5rem;
    border: 1px solid #ADADAD;
    border-radius: 0.25rem;
    color:  #ADADAD;
}

.input_fields div{
    margin-left: 30rem;
}

input[type=date]{
    background-color: #EFEFEF;
}

input[type=checkbox]{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

input[type=search]{
    background-image: url(../img/search-line.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}


input:focus {
    color: #0050D8;
}

input:valid {
    color: black;
}

input:invalid {
    color: red;
}

hr {
    box-sizing: border-box;
    color: #D1D1D1;
    width: 51rem;
    margin: 0 auto;
}

.button_next[type=submit]{
    width: 4.31rem;
    height: 2.5rem;
    background-color: #0050D8;
    color: #FFFFFF;
    margin-left: 50.37rem;
    margin-top: 1rem;
    margin-bottom: 6.87rem;
    border: 1px solid #0050D8;
    border-radius: 0.25rem;
    cursor: pointer;
    
}
