.border{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 0.1rem dashed #7B61FF;
    width: 20rem;
    position: relative;
}

.border__side{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #C0BFBD;
    box-shadow: 1px 0px 0px #DEDEDE;
    overflow: hidden;
    width:22%;
    transition: width 0.2s linear;
    margin-right: 1.5rem;
}


.border__side:hover{
    width: 85%;
}

.border__side_avatar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 5.5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
    width: 30%;
    
}


.border__side_description{
    padding-left: 1.5rem;
}


.border__side_description-title{
    font-weight:700;
}

.border__side_description-subTitle{
    font-size: 0.87rem;
    font-weight: 400;
}


.border__side_open{
    position:absolute;
    top: 3.6rem;
    left: 18%;
}

.border__side_close{
    position:absolute;
    top: 3.6rem;
    left: 81%;
    display: none;
}

.border__side:hover .border__side_open{
    display: none;
}
.border__side:hover .border__side_close{
    display: flex;
}


.border__side-menu{
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;

}

.border__side-menu ul,
.border__side-menu ol{
    list-style: none;
}

.border__side-menu > ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.border__side-menu > ul li a{
    display: block;
    text-decoration: none;
    text-transform:capitalize;
    padding: .5rem;
    padding-left: 1.5rem;
}

.border__side-menu a{
    width: 6rem;
    height: 2.12rem;
}

.border__side-menu > ul li{
    position: relative;
} 

.border__side-menu > ul li > a i.border__side-menu-item{
    position: absolute;
    top: 0.37rem;
    left: -1.56rem;
}

.down_menu{
    margin-top: 3rem;
    display:flex;
}

.border__side-menu li a:hover{
    background:#F5F5F5;
    color: #7B61FF;
    border-radius: 0.5rem;
    transition: all 0.4s ease;
}

.down_menu-switch{
    margin-top: 3.5rem;
    margin-left: 1rem;

}