body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
}

ul {
    list-style: none; /*убираем маркеры списка*/
    display: inline-block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    
}

.menu {
    list-style: none; /*убираем маркеры списка*/
    display: flex;
    
}

li.menu_item > a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-transform: capitalize; /* Первая аглавная буква */
    color: #FFFFFF;
    padding: 25px 12.5px;
    box-sizing: border-box;
    border-right: 1px solid;
}

.h1 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    background-color: #C6C6DC;
    color: #202846;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
}

.logo {
    width: 30%;
    padding: 0.5%;
}

.logo_ua {
    width: 10%;
    padding: 0.5%;
}

.menu {
    padding: 1rem 1rem;
    float:right;
    vertical-align:top;
}

.header {
    background-color: #202846;
    box-sizing: border-box;
}

.main {
    background-color: #E5E5E5;
    margin: 0 auto;
    padding: 40px;
}

.card {
    width: 80%;
    background-color: #BDBDC6;
    margin: 1rem auto;
    position: relative;
}

.card__image {
    width: 40%;
    display: inline-block;
    padding: 3rem 2rem;
    
}

.image {
    width: 100%;
}

.card__content {
    width: 45%;
    display: inline-block;
    vertical-align:top;
    padding: 1rem;
    
}

.card__title {
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
    font-size: 1.5rem;
    font-style: italic;
}

.card__subtitle {
    color: #202846;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1rem 2rem;
    background-color: #D7D7DD;
    margin-top: 5px;
    text-align: center;
}

.footer {
    color: #FFFFFF;
    background-color: #202846;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    padding: 10px 20px;
    box-sizing: border-box;
}

.card__star {
    position: absolute;
    top: 2%;
    right: 1%;
}

.card__star path:hover {
    fill: #FFB742;
    
}

.bottom {
    position: absolute;
    background-color: #202846;
    text-align: center;
    padding: 0.5em 1.5em;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 25px;
    bottom: 2%;
    left: 90%;
}

.fixed {
    position: fixed;
    bottom: 100px;
    right: 10px;
    
}