* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body{
    box-sizing: border-box;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    background: #E5E5E5;
}

a{
    text-decoration: none;
}

#body_ip{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 428px;
    height: 926px;
    background-image: url("../img/back1.png");
    background-size: 105% auto;
    border-radius: 1.87rem;
   
    margin: 1%;
    padding: 1%;
    }

    #box{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        width: 98%;
        height: 396px;
        background: #FFFFFF;
        border-radius: 30px;
        box-sizing: border-box;
        padding: 15%;
    }

    #title{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: black;
        text-align: center;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    #title2{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: black;
        text-align: center;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    hr {
        border: none; /* Убираем границу */
        background-color: #7819A9;
        height: 6px; 
        width: 30px;
        border-radius: 3px;
        margin-top: 10%;
    }

    #circle {
        color: #212529;
        background-color: #8BB71E;
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 50%;
    }

    #circle:hover {
        background-color: #7819A9;
        
    }

    #body_ip2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 428px;
        height: 926px;
        background: #FFFFFF;
        border-radius: 1.87rem;
        overflow: hidden;
        
        margin: 1%;
        padding: 1%;
        }

    #box2{
        display: flex;
        justify-content: center;
        align-items:flex-end;
        width: 98%;
        height: 396px;
        background-image: url("../img/image.png");
        background-size: cover;
        border-radius: 1.87rem;
        padding: 2%;
        margin-bottom: 5%;
    }


    #btm1{
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        width: 90%;
        padding: 2%;
        backdrop-filter: blur(10px);
    }

    #title3{
        color: #FFFFFF;
        font-size: 30px;
        text-align: center;
        box-sizing: border-box;
        margin: 1%;
    }

    #like{
        font-size: 30px;
        text-align: center;
        box-sizing: border-box;
        margin: 1%;
    }

    #like > svg:hover path{
        fill: #FF0000;
    }

    #box3{
        display: flex;
        box-sizing: border-box;
        border-radius: 20px;
        border-color: #DFDFDF;
        border-width: 2px;
        border-style: solid;
        padding: 5%;
        margin-bottom: 5%;
        width: 90%;
    }

    #box4{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items:flex-end;
        padding: 2%;
        width: 90%;
    }

    #box5{
        box-sizing: border-box;
        padding: 2%;
        width: 90%;
    }

    #box5div{
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        box-sizing: border-box;
        border-radius: 15px;
        border-color: #DFDFDF;
        border-width: 2px;
        border-style: solid;
        padding: 2%;
        width: 100%;
    }

    #box5div svg:hover path{
        fill: #FF0000;
    }

    #box6{
        box-sizing: border-box;
        padding: 2%;
        width: 90%;
    }

    #box4_counter{
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 5%;
        
    }

    #box5_counter{
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 5%;
        
    }

    #box3_txt {
        padding: 0;
        margin: 1% 5%;
    }

    #box3txt_titul {
        font-weight: 600;
        font-size: 14px;
        color: #000000;
        padding: 0;
        margin: 0;
    }

    #box3txt_txt {
        font-weight: 500;
        font-size: 10px;
        color: #AAA2A2;
        padding: 0;
        margin: 0;
    }

    #box6txt_txt {
        font-weight: 500;
        font-size: 10px;
        color: #AAA2A2;
        padding: 0;
        margin: 0;
    }

    #box6txt_titul {
        font-weight: 500;
        font-size: 12px;
        color: #000000;
        padding: 0;
        margin: 0;
    }

    #img_sec {
        position: relative;
        left: -20px;
    }
    #img_sec1 {
        position: relative;
        left: -40px;
    }
    #img_sec2 {
        position: relative;
        left: -60px;
    }

    #img_sec3 {
        position: relative;
        left: -80px;
    }

    #box4_txt {
        font-weight: 400;
        font-size: 12px;
        color: #000000;
        padding: 0;
        margin: 0;
    }

    #box5txt_titul {
        font-weight: 500;
        font-size: 12px;
        color: #000000;
        padding: 0;
        margin: 0;
    }

    #download{
        background-color: #8BB71E;
        padding: 2%;
        width: 92%;
        background-color: #8BB71E;
        border-radius: 1.25rem;
        text-align: center;
        box-sizing: border-box;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 700;
    }


